<!DOCTYPE html>
<html>
  <head>
    <title><%= blog.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= blog.title %></h1>

    <% if (errors) { %>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error; %></li>
          <% }); %>
      </ul>
    <% } %>

    <p><%= blog.body %></p>

    <ul>
      <% comments.forEach(function(comment){ %>
        <li>
          <%= comment.body; %>
          <a href="/blogs/<%- blog._id %>/comment/<%- comment._id %>/delete">Delete</a>
          <a href="/blogs/<%- blog._id %>/comment/<%- comment._id %>/update">Update</a>
        </li>
      <% }); %>
    </ul>

    <form action="/blogs/<%- blog._id %>/comment/create" method="post">
      <label for="body">Enter name: </label>
      <input id="body" type="text" name="body"/>

      <input type="submit" value="OK" />
    </form>

    <ul>
      <li><a href="/blogs/<%- blog._id %>/delete">Delete</a></li>
      <li><a href="/blogs/<%- blog._id %>/update">Update</a></li>
    </ul>

  </body>
</html>
