<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.username %></h1>

    <% if (typeof errors !== 'undefined') { %>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error; %></li>
          <% }); %>
      </ul>
    <% } %>

    <p><%= user.username %></p>
    <p><%= user.role %></p>





  </body>
</html>
