<!DOCTYPE html>
<html>
  <head>
    <%- include('../parts/head'); %>
  </head>
  <body>

    <%- include('../parts/navbar'); %>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">Serch results for "<%= query %>"</h1>
                        <div class="text-muted fst-italic mb-2">Created by Benjamin Rycroft</div>
                    </header>
                    <!-- Post content-->
                    <section class="mb-5">

                        <h2>Blogs</h2>
                        <br>

                        <div class="row">
                          <% for (let i=0; i<blogs.length; i++){ %>
                            <div class="card m-1" style="width: 15rem;">
                              <img class="card-img-top" src="<%- blogs[i].image %>" alt="">
                              <div class="card-body">
                                <a class="link-dark stretched-link" href="<%- blogs[i].url; %>"></a>
                                <h5 class="card-title"><%= blogs[i].title; %></h5>
                                <div class="text-muted fst-italic mb-1 ">By: <%= blogUsers[i].username; %> Role:<%= blogUsers[i].role; %></div>
                              </div>
                            </div>
                          <% } %>

                        </div>
                        <br>

                        <h2>Users</h2>
                        <br>

                        <div class="row">
                          <% for (let i=0; i<users.length; i++){ %>
                            <div class="card m-1" style="width: 15rem;">
                              <img class="card-img-top" src="<%- users[i].image %>" alt="">
                              <div class="card-body">
                                <a class="link-dark stretched-link" href="<%- users[i].url; %>"></a>
                                <h5 class="card-title"><%= users[i].username; %></h5>
                                <div class="text-muted fst-italic mb-1 ">Role: <%= users[i].role; %></div>
                              </div>
                            </div>
                            <% } %>
                        </div>
                        <br>

                        <h2>Comments</h2>
                        <br>

                        <div class="row">
                          <% for (let i=0; i<comments.length; i++){ %>
                            <div class="card m-1" style="width: 15rem;">
                              <img class="card-img-top" src="<%- commentBlogs[i].image %>" alt="">
                              <div class="card-body">
                                <a class="link-dark stretched-link" href="<%- commentBlogs[i].url; %>"></a>
                                <h5 class="card-title"><%= comments[i].body; %></h5>
                                <div class="text-muted fst-italic mb-1 ">Found in: <%= commentBlogs[i].title; %></div>
                              </div>
                            </div>
                          <% } %>
                        </div>


                        <h2>Tags</h2>
                        <br>

                        <div class="row">
                          <% for (let i=0; i<tags.length; i++){ %>
                            <div class="card m-1" style="width: 15rem;">
                              <img class="card-img-top" src="<%- tagBlogs[i].image %>" alt="">
                              <div class="card-body">
                                <a class="link-dark stretched-link" href="<%- tagBlogs[i].url; %>"></a>
                                <h5 class="card-title"><%= tags[i].body; %></h5>
                                <div class="text-muted fst-italic mb-1 ">Found in: <%= tagBlogs[i].title; %></div>
                              </div>
                            </div>
                            <% } %>

                        </div>


                    </section>
                </article>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <%- include('../parts/search'); %>

            </div>
        </div>
    </div>
    <%- include('../parts/foot'); %>
  </body>
</html>
