<!DOCTYPE html>
<html>
  <head>
    <%- include('../parts/head'); %>
  </head>
  <body>

    <%- include('../parts/navbar'); %>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1"><%= blog.title %></h1>
                        <div class="text-muted fst-italic mb-2">By: <%= blogUser.username %></div>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="/images/upload/<%- blog._id %>" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">

                      <% if (errors) { %>
                        <ul>
                          <% errors.forEach(function(error){ %>
                            <% if (error != undefined) { %>
                              <li><%= error; %></li>
                            <% } %>
                          <% }); %>
                        </ul>
                      <% } %>


                      <div class="" id="mainBody">
                        <p class="fs-5 mb-4"><%= blog.body %></p>


                        <% if (user != undefined && blogUser != undefined && String(user._id) == String(blogUser._id)) { %>
                          <div class="clearfix">
                            <a href="/<%- blog._id %>/delete" type="button" class="btn btn-danger float-start">Delete</a>
                            <button onclick="blogUpdate()" type="button" class="btn btn-warning float-end">Update</button>
                          </div>
                        <% }%>
                      </div>

                      <div class="" style="display: none;" id="editBody">

                        <form action="/<%- blog._id %>/update" method="post">
                          <label for="title">Enter blog title: </label>
                          <input id="title" type="text" name="title" value="<%= blog.title %>"/>
                          <br>

                          <label for="body">Enter blog body: </label>
                          <textarea id="body" type="text" name="body" class="form-control " rows="4" placeholder="A cool post about things you like"><%= blog.body %></textarea>

                          <br>
                          <% if (user != undefined && blogUser != undefined && String(user._id) == String(blogUser._id)) { %>
                            <div class="clearfix">
                              <a href="/<%- blog._id %>/delete" type="button" class="btn btn-danger float-start">Delete</a>
                              <input type="submit" class="btn btn-success float-end" value="Submit" />
                            </div>
                          <% }%>
                        </form>

                      </div>



                      <script type="text/javascript">
                        function blogUpdate() {
                          const main = document.getElementById("mainBody");
                          const edit = document.getElementById("editBody");
                          if (main.style.display === "none") {
                            edit.style.display = "none";
                            main.style.display = "block";
                          } else {
                            main.style.display = "none";
                            edit.style.display = "block";
                          }
                        }
                      </script>



                    </section>

                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4" action="/<%- blog._id %>/comment/create" method="post">
                              <label for="body">Comments:</label>
                              <textarea id="body" type="text" name="body" class="form-control " rows="3" placeholder="Join the discussion and leave a comment!"></textarea>

                              <input type="submit" class="btn btn-success " value="Create" />

                            </form>
                            <!-- Single comment-->
                            <% for (let i=0; i<comments.length; i++){ %>
                              <div class="clearfix">
                                <div class="d-flex float-start" id="comment<%- i %>">
                                  <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                  <div class="ms-3 ">
                                    <div class="fw-bold"><%= users[i].username; %></div>
                                    <div class="">
                                      <p class=""><%= comments[i].body; %></p>
                                    </div>
                                    <div class="" style="display: none;">
                                      <form class="mb-4" action="/<%- blog._id %>/comment/<%- comments[i]._id %>/update" method="post">
                                        <textarea id="body" type="text" name="body" class="form-control " rows="2"><%= comments[i].body; %></textarea>

                                        <input type="submit" class="btn btn-success " value="Submit" />
                                      </form>
                                    </div>
                                  </div>
                                </div>
                                <div class="float-end">

                                  <% if (user != undefined && String(user._id) == String(users[i]._id)) { %>
                                    <a href="/<%- blog._id %>/comment/<%- comments[i]._id %>/delete" type="button" class="btn btn-danger ">Delete</a>
                                    <button onclick="commentUpdate('comment<%- i %>')" type="button" class="btn btn-warning ">Update</button>
                                  <% }%>

                                </div>

                              </div>
                            <% } %>
                            <script type="text/javascript">
                              function commentUpdate(comment) {
                                const thing = document.getElementById(comment).children.item(1);
                                if (thing.children.item(1).style.display === "none") {
                                  thing.children.item(2).style.display = "none";
                                  thing.children.item(1).style.display = "block";
                                } else {
                                  thing.children.item(1).style.display = "none";
                                  thing.children.item(2).style.display = "block";
                                }
                              }
                            </script>

                        </div>
                    </div>
                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <%- include('../parts/search'); %>


                <div class="card mb-4">
                    <div class="card-header">other blogs by <%= blogUser.username %></div>
                    <div class="card-body">
                      <ul>
                        <% for (let i=0; i<otherBlogs.length; i++){ %>
                          <% if (String(otherBlogs[i]._id) != String(blog._id)) { %>
                            <li style="transform: rotate(0);">
                              <a class="link-dark stretched-link" href="<%- otherBlogs[i].url; %>"></a> <%= otherBlogs[i].title; %>
                            </li>
                          <% } %>
                        <% } %>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../parts/foot'); %>
  </body>
</html>
