<!DOCTYPE html>
<html>
  <head>
    <%- include('../parts/head'); %>
  </head>
  <body>

    <%- include('../parts/navbar'); %>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1"><%= title %></h1>
                        <div class="text-muted fst-italic mb-2">Created by Benjamin Rycroft</div>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">

                        <p class="fs-5 mb-4">This is a blogging site that I made to learn node js.</p>
                        <div class="clearfix">
                          <h2 class="float-start">Blogs</h2>
                          <button href="/blogs/create" type="button" class="btn btn-primary float-end">Create a blog</button>
                        </div>


                        <br>
                        <% for (let i=0; i<blogs.length; i++){ %>
                          <div class="d-flex" style="transform: rotate(0);">
                              <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                              <div class="ms-3 " >
                                  <a class="link-dark stretched-link" href="<%- blogs[i].url; %>"></a> <%= blogs[i].title; %>
                                  <div class="text-muted fst-italic mb-1 ">By: <%= users[i].username; %> Role:<%= users[i].role; %></div>
                              </div>
                          </div>
                          <br>
                        <% } %>
                    </section>
                </article>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../parts/foot'); %>
  </body>
</html>
